@font-face {
  font-family: "NicoPups Monospaced";
  src: url("../fonts/NicoPups-Monospaced.eot");
  src: url("../fonts/NicoPups-Monospaced.woff") format("woff"),
    url("../fonts/NicoPups-Monospaced.otf") format("opentype"),
    url("../fonts/NicoPups-Monospaced.svg#filename") format("svg");
}

@font-face {
  font-family: "NicoPups Regular";
  src: url("../fonts/NicoPups-Regular.eot");
  src: url("../fonts/NicoPups-Regular.woff") format("woff"),
    url("../fonts/NicoPups-Regular.otf") format("opentype"),
    url("../fonts/NicoPups-Regular.svg#filename") format("svg");
}

@font-face {
  font-family: "Platinum Sign";
  src: url("../fonts/Platinum\ Sign.ttf");
}

@font-face {
  font-family: "Platinum Sign Under";
  src: url("../fonts/Platinum\ Sign\ Under.ttf");
}

@font-face {
  font-family: "Platinum Sign Over";
  src: url("../fonts/Platinum\ Sign\ Over.ttf");
}

html {
  user-select: none;
}

body {
  margin: 0;
  font-family: "NicoPups Monospaced";
  color: #edeef2;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #1a0c1a;
  text-shadow: #1a0c1a 1px 0px 0px, rgb(26, 12, 26) 0.540302px 0.841471px 0px,
    rgb(26, 12, 26) -0.416147px 0.909297px 0px,
    rgb(26, 12, 26) -0.989992px 0.14112px 0px,
    rgb(26, 12, 26) -0.653644px -0.756802px 0px,
    rgb(26, 12, 26) 0.283662px -0.958924px 0px,
    rgb(26, 12, 26) 0.96017px -0.279415px 0px;
}

#playButton {
  padding: 4px 8px;
  border-radius: 4px;
  /* box-shadow: #edeef2 1px 0px 0px, #edeef2 0.540302px 0.841471px 0px,
    #edeef2 -0.416147px 0.909297px 0px, #edeef2 -0.989992px 0.14112px 0px,
    #edeef2 -0.653644px -0.756802px 0px, #edeef2 0.283662px -0.958924px 0px,
    #edeef2 0.96017px -0.279415px 0px; */
  border: 1px solid #edeef2;
  box-shadow: #1a0c1a 1px 0px 0px, rgb(26 12 26) 0.540302px 0.841471px 0px,
    rgb(26 12 26) -0.416147px 0.909297px 0px, rgb(26 12 26) -0.989992px 0.14112px 0px,
    rgb(26 12 26) -0.653644px -0.756802px 0px, rgb(26 12 26) 0.283662px -0.958924px 0px,
    rgb(26 12 26) 0.96017px -0.279415px 0px;
  cursor: pointer;
}

#paused,
#resumeCounter {
  display: none;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

#resumeCounter {
  font-size: 5rem;
}

.game-screen {
  background: url("../images/background-3.jpg");
  width: 512px;
  height: 100vh;
  margin: 0 auto;
  background-position: bottom;
  display: flex;
}

.message {
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  align-items: center;
  width: 512px;
  flex-direction: column;
}

.planet-destroyed,
.player-destroyed,
.win-message,
.perfect-win-message {
  display: none;
  font-size: 2rem;
  flex-direction: column;
  align-items: center;
}

hr {
  border: 1px solid #edeef2;
  margin: 1rem;
  width: 50%;
  display: none;
}

.message-detail {
  font-size: 1rem;
}

#gui {
  display: none;
  position: absolute;
  flex-direction: column;
  width: 512px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.right-gui {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 8px;
}

.left-gui {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

#planet-health-container {
  width: 120px;
  height: 20px;
}

.player-shoot {
  position: absolute;
  background-image: url("../images/shoot.gif");
  width: 5px;
  height: 13px;
}

.enemies-counter {
  font-size: 0.75em;
}

#player {
  display: none;
  position: absolute;
  background-image: url("../images/player.gif");
  width: 16px;
  height: 24px;
}

.big-enemy {
  position: absolute;
  background-image: url("../images/big-enemy.gif");
  width: 32px;
  height: 32px;
}

.medium-enemy {
  position: absolute;
  background-image: url("../images/medium-enemy.gif");
  width: 32px;
  height: 16px;
}

.little-enemy {
  position: absolute;
  background-image: url("../images/little-enemy.gif");
  width: 16px;
  height: 16px;
}

#planetHealthBar {
  position: absolute;
  width: 120px;
  height: 20px;
  border-radius: 4px;
  background-image: repeating-linear-gradient(-45deg,
      #1a0c1a 12px,
      #f1c40fa1 22px);
}

.dialogue {
  display: none;
  height: fit-content;
  margin: 56px 4px;
  border-radius: 4px;
  z-index: 1;
  align-self: flex-end;
  position: relative;
  width: 100%;
}

.dialogue-picture {
  height: 128px;
  z-index: 1;
}

.next-dialogue {
  font-weight: bolder;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 4px;
}

.dialogue-message {
  padding: 8px 0;
  padding-left: 24px;
  height: 56px;
  display: flex;
  width: 100%;
  align-items: center;
  align-self: flex-end;
  left: 50px;
  justify-content: space-between;
}

.input-label {
  color: #1a0c1a;
  text-shadow: none;
}

.confirm-input {
  color: #1a0c1a;
  text-shadow: none;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: #1a0c1a 1px 0px 0px, #1a0c1a 0.540302px 0.841471px 0px,
    #1a0c1a -0.416147px 0.909297px 0px, #1a0c1a -0.989992px 0.14112px 0px,
    #1a0c1a -0.653644px -0.756802px 0px, #1a0c1a 0.283662px -0.958924px 0px,
    #1a0c1a 0.96017px -0.279415px 0px;
  cursor: pointer;
  align-self: flex-start;
  margin-top: 8px;
}

.input-container {
  width: 512px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  height: 100vh;
}

.input {
  width: 75%;
  height: 64px;
  background-color: #edeef2;
  flex-direction: column;
  padding: 16px;
  display: flex;
  border-radius: 4px;
}

.mobile-controllers {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  width: 512px;
  position: absolute;
  opacity: 0.5;
  bottom: 0px;
}

.mobile-directional,
.mobile-shoot {
  z-index: 999;
  display: flex;
  border: 2px solid #f1c40fa1;
  background-color: #262626;
  color: #f1c40fa1;
  border-radius: 50%;
  font-weight: bolder;
  height: 152px;
  width: 152px;
  flex-direction: column;
  justify-content: center;
  margin: 16px;
  bottom: 16px;
}

.mobile-shoot {
  font-size: 2em;
  align-items: center;
}

.left-button,
.right-button,
.top-button,
.bottom-button {
  display: flex;
  height: min-content;
  width: min-content;
  padding: 16px;
  font-size: 1.5em;
}

.left-button {
  transform: rotate(180deg);
}

.top-button {
  transform: rotate(-90deg);
  margin-top: 8px;
}

.bottom-button {
  transform: rotate(90deg);
  margin-bottom: 8px;
}

.version-container {
  position: absolute;
  margin-left: 8px;
  bottom: 8px;
}

#logo {
  font-family: "Platinum Sign Over";
  position: relative;
  z-index: 3;
  color: #FFD100;
  font-size: 2rem;
  text-shadow: 5px 5px 2px #000000;
}

.logo-container {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 100%;
  margin-top: calc(50vh - 175px);
}

path {
  fill: transparent;
}

text {
  font-family: "Platinum Sign Over";
  position: relative;
  z-index: 3;
  fill: #FFD100;
  font-size: 3rem;
  text-shadow: 5px 5px 2px #000000;
}

.ranking-container {
  display: none;
  margin-bottom: 16px;
  width: 512px;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  flex-direction: column;
}

.ranking-container table {
  border-collapse: collapse;
}

.ranking-container td,
.ranking-container th {
  padding: 8px;
  border: 1px solid #edeef2;
  box-shadow: #1a0c1a 1px 0px 0px, rgb(26 12 26) 0.540302px 0.841471px 0px,
    rgb(26 12 26) -0.416147px 0.909297px 0px, rgb(26 12 26) -0.989992px 0.14112px 0px,
    rgb(26 12 26) -0.653644px -0.756802px 0px, rgb(26 12 26) 0.283662px -0.958924px 0px,
    rgb(26 12 26) 0.96017px -0.279415px 0px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

#rankingRadioContainer {
  display: none;
  justify-content: space-evenly;
  width: calc(100% - 32px);
  margin: 8px 16px;
}

/* Customize the label (the container) */
.radio-container {
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input~.checkmark {
  background-color: #ccc;
  overflow: hidden;
  display: inline-block;
  box-shadow: 0 3px 15px rgb(0 0 0 / 40%);
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked~.checkmark {
  background-color: #41a1de;
  overflow: hidden;
  display: inline-block;
  box-shadow: 0 3px 15px rgb(0 0 0 / 40%);

}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #edeef2;
}

.pause-button,
.resume-button,
.mute-button,
.unmute-button {
  display: none;
  width: fit-content;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  height: auto;
  cursor: pointer;
}

.mute-button {
  display: flex;
}

.pause-button {
  display: flex;
}

.mute-button,
.unmute-button {
  margin-left: 3px;
}

.settings-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}