@font-face {
  font-family: "NicoPups Monospaced";
  src: url("../fonts/NicoPups-Monospaced.eot");
  src: url("../fonts/NicoPups-Monospaced.woff") format("woff"),
    url("../fonts/NicoPups-Monospaced.otf") format("opentype"),
    url("../fonts/NicoPups-Monospaced.svg#filename") format("svg");
}

@font-face {
  font-family: "NicoPups Regular";
  src: url("../fonts/NicoPups-Regular.eot");
  src: url("../fonts/NicoPups-Regular.woff") format("woff"),
    url("../fonts/NicoPups-Regular.otf") format("opentype"),
    url("../fonts/NicoPups-Regular.svg#filename") format("svg");
}

body {
  font-family: "NicoPups Monospaced";
  color: #edeef2;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #1a0c1a;
  width: 100vw;
  height: 100vh;
  text-shadow: rgb(26, 12, 26) 1px 0px 0px,
    rgb(26, 12, 26) 0.540302px 0.841471px 0px,
    rgb(26, 12, 26) -0.416147px 0.909297px 0px,
    rgb(26, 12, 26) -0.989992px 0.14112px 0px,
    rgb(26, 12, 26) -0.653644px -0.756802px 0px,
    rgb(26, 12, 26) 0.283662px -0.958924px 0px,
    rgb(26, 12, 26) 0.96017px -0.279415px 0px;
}

#playButton {
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: #edeef2 1px 0px 0px, #edeef2 0.540302px 0.841471px 0px,
    #edeef2 -0.416147px 0.909297px 0px, #edeef2 -0.989992px 0.14112px 0px,
    #edeef2 -0.653644px -0.756802px 0px, #edeef2 0.283662px -0.958924px 0px,
    #edeef2 0.96017px -0.279415px 0px;
  cursor: pointer;
}

.game-screen {
  background: url("../images/background-3.jpg");
  width: 512px;
  height: 100vh;
  margin: 0 auto;
  background-position: bottom;
  display: flex;
}

.message {
  height: 103px;
  display: flex;
  margin-top: calc(50vh - 169px);
  justify-content: center;
  position: absolute;
  align-items: center;
  width: 512px;
}

#gui {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 512px;
  padding-top: 16px;
}

#planet-health-container {
  width: 120px;
  height: 20px;
}

.player-shoot {
  position: absolute;
  background-image: url("../images/shoot.gif");
  width: 5px;
  height: 13px;
}

.enemies-counter {
  font-size: 0.75em;
}

#player {
  display: none;
  position: absolute;
  background-image: url("../images/player.gif");
  width: 16px;
  height: 24px;
}

.big-enemy {
  position: absolute;
  background-image: url("../images/big-enemy.gif");
  width: 32px;
  height: 32px;
}

.medium-enemy {
  position: absolute;
  background-image: url("../images/medium-enemy.gif");
  width: 32px;
  height: 16px;
}

.little-enemy {
  position: absolute;
  background-image: url("../images/little-enemy.gif");
  width: 16px;
  height: 16px;
}

#planetHealthBar {
  position: absolute;
  width: 120px;
  height: 20px;
  border-radius: 4px;
  background-image: repeating-linear-gradient(
    -45deg,
    #1a0c1a 12px,
    #f1c40fa1 22px
  );
}

.dialogue {
  display: none;
  width: 100%;
  height: fit-content;
  margin: 56px 4px;
  border-radius: 4px;
  z-index: 1;
  align-self: flex-end;
  position: relative;
}

.dialogue-picture {
  height: 128px;
  z-index: 1;
}

.next-dialogue {
  font-weight: bolder;
  font-size: 1.5rem;
  cursor: pointer;
}

.dialogue-message {
  padding: 8px 0;
  padding-left: 40px;
  height: 56px;
  display: flex;
  width: 410px;
  align-items: center;
  align-self: flex-end;
  position: absolute;
  left: 50px;
  justify-content: space-between;
}
